{% extends "base.html" %}
{% block title%} {{ title }} {% endblock %}
{% block content%}


<div class="container mt-5">
    <div class="row justify-content-center">
        <div class="col-md-4">
            <div class="card shadow-lg p-3 mb-5 bg-body-tertiary rounded">
                <div class="card-title">
                    <h1 class="fw-semibold mb-0 fs-1 text-center">Reset Password</h1>
                </div>
                <form method="POST" class="card-body", action="">
                    {{ form.hidden_tag() }}
                    
                    {% for error in form.email.errors %}
                        <div class="alert alert-warning alert-dismissible fade show" role="alert">
                            {{ error }}
                            <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
                        </div><br>
                        {% endfor %}
                    <p>
                    <div class="form-floating mb-3">
                        {{ form.email(class="form-control",id="floatingEmail", placeholder="Email")}}
                        <label for="floatingEmail">Email</label>
                    </div>
                    </p>
                    <div class="text-center">
                        <button type="submit" class="btn btn-primary"> Send Email </button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>

{% endblock %}